@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  position: fixed;
  top: 24px;
  left: 24px;
  bottom: 24px;
  width: 260px;
  padding: 16px;
  border-radius: 20px;
  background: rgb(0 0 0 / 22%);
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar-header {
  height: 72px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
  margin-bottom: 12px;
}

.sidebar-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  height: 48px;
  padding: 0 12px;
  border-radius: 12px;
  transition: .25s;
}

.sidebar-btn:hover {
  background: rgb(255 255 255 / 8%);
}

.sidebar-group .submenu {
  height: 0;
  overflow: hidden;
  transition: .4s;
}

.sidebar-group.open .submenu {
  height: auto;
}

